@use '@/app/styles/mixins' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seafoam: #0bd0de;
  --blue: #472ff7;
  --gray: #908e8e;
  --light-gray: #f0f0f0;
  --dark-gray: #121212;
  --gradient-primary: linear-gradient(
    180deg,
    #472ff7 0%,
    #ff5d52 50%,
    #b2dfe7 100%
  );
}

body {
  font-family: Arial;
  color: black;
}

.button-primary,
.button-outline {
  padding: 7px 16px;
  text-align: center;
  border-radius: 8px;
  border-width: 2px;
  min-width: 100px;
  display: inline-block;
  border: 2px solid transparent;
}

.button-primary {
  background: var(--seafoam);
  text-transform: capitalize;

  &:hover {
    background-color: var(--blue);
    color: white;
  }
}

.button-outline {
  @include gradientButtonBg();
  border-color: #dbdbdb;
  background: white;
  position: relative;

  &:hover {
    border-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.navDropdown {
  // for active state hit area
  div:after {
    content: '';
    width: 100%;
    height: 50px;
    top: -50px;
    display: block;
    position: absolute;
  }

  > .nav-link {
    @include gradientButtonBg($radius: 20px);

    &.active {
      &:before {
        opacity: 1;
      }
      &:after {
        background-color: var(--light-gray);
      }
    }
  }
}

.nav-link {
  display: inline-flex;
  color: var(--dark-gray);
  font-size: 14px;

  > span {
    padding: 7px 16px;
  }
}
