@use '@/app/styles/mixins' as *;
@use '@/app/styles/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-acid-grotesk), sans-serif;
  --seafoam: #0bd0de;
  --blue: #472ff7;
  --gray: #908e8e;
  --light-gray: #f0f0f0;
  --dark-gray: #121212;
  --gradient-primary: linear-gradient(
    180deg,
    #472ff7 0%,
    #ff5d52 50%,
    #b2dfe7 100%
  );
  --gradient-secondary: linear-gradient(180deg, #003ca6 0%, #001740 84.49%);
}

html,
body {
  height: 100%;
}
body {
  color: black;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 2%;
}

.l-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.05;
}

.bg-gradient-secondary {
  background: var(--gradient-secondary);
}

.button-primary,
.button-outline {
  padding: 7px 16px;
  text-align: center;
  border-radius: 8px;
  border-width: 2px;
  min-width: 100px;
  display: inline-block;
  border: 2px solid transparent;
  font-weight: normal;
}

.button-primary {
  background: var(--seafoam);
  text-transform: capitalize;

  &:hover {
    background-color: var(--blue);
    color: white;
  }
}

.button-outline {
  @include gradientButtonBg();
  border-color: #dbdbdb;
  background: white;
  position: relative;

  &:hover {
    border-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

// sticky footer
.l-main {
  flex: 1 0 auto;
}
.l-footer {
  flex-shrink: 0;
}

.navDropdown {
  > .nav-link {
    @include gradientButtonBg($radius: 20px);

    &.active {
      &:before {
        opacity: 1;
      }
      &:after {
        background-color: var(--light-gray);
      }
    }
  }
}

.nav-link {
  display: inline-flex;
  color: var(--dark-gray);
  font-size: 14px;

  > span {
    padding: 7px 16px;
  }
}
