@use '@/app/styles/mixins' as *;
@use '@/app/styles/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-acid-grotesk), sans-serif;
  --seafoam: #0bd0de;
  --blue: #472ff7;
  --dark-blue: #001740;
  --gray: #908e8e;
  --light-gray: #f0f0f0;
  --med-gray: #707070;
  --dark-gray: #121212;
  --gradient-primary: linear-gradient(
    180deg,
    #472ff7 0%,
    #ff5d52 50%,
    #b2dfe7 100%
  );
  --gradient-secondary: linear-gradient(180deg, #003ca6 0%, #001740 84.49%);
  --gradient-secondary-reversed: linear-gradient(
    180deg,
    #001740 0%,
    #003ca6 100%
  );
}

html,
body {
  height: 100%;
}

body {
  color: black;
  background: #f1f1f1;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.l-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

div:not(.testimonials--small) {
  .l-container--testimonials {
    width: 1440px;
    max-width: calc(100% - 40px);

    @media screen and (min-width: 1024px) {
      width: calc(1440px - 80px);
    }
  }
}

.testimonials--small {
  blockquote {
    max-width: calc(100% - 50px);
  }
  .testimonials__arrow-button {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.05;
}

.bg-gradient-secondary {
  background: var(--gradient-secondary);
}

.bg-gradient-secondary--reversed {
  background: var(--gradient-secondary-reversed);
}

.button-primary,
.button-outline {
  padding: 7px 16px;
  text-align: center;
  border-radius: 8px;
  min-width: 100px;
  border: 2px solid transparent;
  font-weight: normal;
  line-height: 0.9;
}

.button-primary {
  background: var(--seafoam);
  text-transform: capitalize;

  &.button--black {
    background: black;
    color: white;
  }

  &.button--white {
    background: white;
    color: black;
  }

  &:hover {
    background-color: var(--blue);
    color: white;
  }
}

.button-outline {
  @include gradientButtonBg();
  border-color: #dbdbdb;
  background: white;
  position: relative;

  &:hover {
    border-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.crumb {
  text-transform: uppercase;
  display: inline-flex;
  font-size: 14px;
  align-items: center;
  border-radius: 30px;
  gap: 8px;

  i {
    border-radius: 100%;
    background: var(--seafoam);
    box-shadow: 0px 0px 4px 2px var(--seafoam) 33;
    width: 7px;
    height: 7px;
    animation: pulse 2.5s ease-in-out infinite;
  }
}

// sticky footer
.l-main {
  flex: 1 0 auto;
}
.l-footer {
  flex-shrink: 0;
}

.navDropdown {
  > .nav-link {
    @include gradientButtonBg($radius: 20px);

    &.active,
    &.current {
      &:before {
        opacity: 1;
      }
      &:after {
        background-color: var(--light-gray);
      }
    }
  }
}

.nav-link {
  display: inline-flex;
  color: var(--dark-gray);
  font-size: 14px;

  > span {
    padding: 7px 16px;
  }
}

.richText sup {
  font-size: inherit;
  top: 0;
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.richText sup:nth-of-type(1n) {
  background-position: 37% 82%;
}
.richText sup:nth-of-type(2n) {
  background-position: 91% 14%;
}
.richText sup:nth-of-type(3n) {
  background-position: 5% 65%;
}

.two-column-content + .two-column-content {
  padding-top: 0;
}

// Cards
.left-tall {
  .row-span-2 {
    img {
      height: 80%;
    }
  }
  .col-start-2 {
    img {
      height: 55%;
    }
  }
}

input {
  color: black;
}

// Animations
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 4px 2px #0bd0de11;
    opacity: 0.7;
  }
  50% {
    box-shadow: 0 0 8px 4px #0bd0de66;
    opacity: 1;
  }
}

// Rich Text
.basic-content {
  &:first-child:last-child {
    .l-container {
      max-width: 680px;
    }
    .richText {
      position: relative;
      padding-top: 180px;

      p,
      ul,
      ol {
        color: #181919;
      }

      h1 {
        font-size: 66px;

        + p {
          margin: 40px 0 64px;
          padding-bottom: 40px;
          position: relative;
          color: var(--med-gray);
          display: flex;
          align-items: center;
          gap: 6px;

          &:before {
            background: url('/icons/watch.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 14px;
            height: 20px;
            content: '';
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 100vw;
            background: #dbdbdb;
          }

          + hr {
            display: none;
          }
        }
      }

      h2 {
        font-size: 24px;
        margin-bottom: 32px;
        font-weight: normal;
      }

      p {
        margin-bottom: 40px;
      }

      ol,
      ul {
        margin-left: 15px;
        margin-bottom: 32px;
        p {
          margin-bottom: 0;
        }
      }

      ol {
        list-style: decimal;
      }

      ul {
        list-style: disc;
        p {
          margin-bottom: 0;
        }
      }

      hr {
        margin-bottom: 40px;
      }
    }
  }
}
