@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seafoam: #0BD0DE;
  --blue:  #472FF7;
  --light-gray: #F0F0F0;
  --dark-gray: #121212;
  --gradient-primary: linear-gradient(180deg, #472FF7 0%, #FF5D52 50%, #B2DFE7 100%);
}



body {
  font-family: Arial;
  color: black;
  font-size: 14px;
}


.nav-link {
  padding: 7px 16px;
  color: var(--dark-gray);
}

.button-primary,
.button-outline {
  padding: 7px 16px;
  text-align: center;
  border-radius: 8px;
  border-width: 2px;
  min-width: 100px;
  display: inline-block;
  border: 2px solid transparent;
}

.button-primary {
  background: var(--seafoam);
  text-transform: capitalize;

  &:hover {
    background-color: var(--blue);
    color: white;
  }
}

.button-outline {
  border-color: #DBDBDB;
  background: white;
  position: relative;

  span {
    display: inline-block;
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 5px);
    display: block;
    opacity: 0;
    z-index: 0;
    top: -2px;
    left: 50%;
    transform: translate(-50%);
    background: var(--gradient-primary);
    border-radius: 8px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: white;
    border-radius: 8px;
  }

  &:hover {
    border-color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.navGroup {
  div:after {
    content: "";
    width: 100%;
    height: 50px;
    top: -50px;
    display: block;
    position: absolute;
  }
}